body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
     text-align: center;
    font-family: monospace;
    filter: drop-shadow(1px 1px 20px yellow);
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}





.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

.p {
    text-align: center;
    font-family: monospace;
    font-size: 22px;
    filter: drop-shadow(1px 1px 20px yellow);
}
    
    
